@font-face {
  font-family: Inconsolata;
  src: url("../fonts/Inconsolata/Inconsolata-Regular.ttf");
}

@font-face {
  font-family: Noto;
  src: url("../fonts/Noto_Sans/NotoSans-Regular.ttf");
}

body {
  background-color: #13071d;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.273),
    0 6px 20px 0 rgba(0, 0, 0, 0.343);
}

img {
  width: 50px;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  color: rgb(187, 187, 187);
  text-decoration: none;
  margin-left: 30px;
  padding: 0.75rem 1rem;
  font-size: 20px;
  font-family: Inconsolata;
}

.nav-link:hover {
  cursor: pointer;
  color: #ae6de3;
}

.hamburger {
  display: none;
  color: #ae6de3;
  border: 2px solid #ae6de3;
  padding: 5px 8px;
}

.bar {
  display: block;
  width: 33px;
  height: 5px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ae6de3;
}

.home {
  display: flex;
  flex-direction: column;
  margin: 10vw 20vw 30vw;
}

h4 {
  color: #ae6de3;
  font-family: Inconsolata;
  font-size: 25px;
  margin-bottom: 0;
}

h1 {
  color: rgb(187, 187, 187);
  font-size: 70px;
  margin-top: 20px;
  margin-bottom: 0;
  font-family: Noto;
}

.info {
  color: rgb(112, 112, 112);
  font-size: 20px;
  font-family: Noto;
  max-width: 800px;
}

.cv {
  margin-top: 20px;
  color: #ae6de3;
  border: 2px solid #ae6de3;
  border-radius: 5px;
  padding: 10px 0;
  width: 200px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  font-family: Inconsolata;
}

.cv:hover {
  background-color: #43215e;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link {
  text-decoration: none;
  margin-bottom: 20px;
  color: rgb(112, 112, 112);
  font-family: Noto;
  font-size: 17px;
}

.footer-link:hover {
  color: #ae6de3;
}

@media only screen and (max-width: 850px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .links {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    background-color: #412459;
  }

  .links.active {
    left: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translate(0, 10px) rotate(-45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translate(0, -10px) rotate(45deg);
  }

  .nav-link {
    margin: 10px;
  }

  .home {
    display: flex;
    flex-direction: column;
    margin: 30vw 10vw 70vw;
  }

  h4 {
    color: #ae6de3;
    font-family: Inconsolata;
    font-size: 20px;
    margin-bottom: 0;
  }

  h1 {
    font-size: 36px;
  }

  .info {
    font-size: 15px;
  }
}
